body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    opacity:1;
    background: linear-gradient(to bottom right,#3e4345, #292960);
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
}

.lo{
    position:fixed;
    width:12vh;
    height:12vh;
    opacity:0.75;
    left:5vh;
    top:5vh;
}
.qu{
    position:fixed;
    width:10vh;
    height:10vh;
    opacity:0.75;
    left:6vh;
    top:20vh;
}
.ro{
    position:fixed;
    width:10vh;
    height:10vh;
    opacity:0.75;
    left:6vh;
    top:35vh;
}
.bi{
    position:fixed;
    width:10vh;
    height:10vh;
    opacity:0.75;
    left:6vh;
    top:50vh;
}
.kn{
    position:fixed;
    width:10vh;
    height:10vh;
    opacity:0.75;
    left:6vh;
    top:65vh;
}
.pa{
    position:fixed;
    width:10vh;
    height:10vh;
    opacity:0.75;
    left:6vh;
    top:80vh;
}
.lo:hover{
    opacity:1;
}

.board {
    height: 80vh;
    width: 80vh;
    display: flex;
    position: fixed;
    top: 8vh;
    left: 15vw;
    border: 3px solid black;
}
.row {
    height: 10vh;
    width: 80vh;
    flex-flow: column wrap;
    display: flex;
}
.rows {
    height: 16vh;
    width: 80vh;
    flex-flow: column wrap;
    display: flex;
}
.box {
    background-position: center;
    background-repeat: no-repeat;
    width: 10vh;
    height: 10vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxe {
    background-position: center;
    background-repeat: no-repeat;
    width: 16vh;
    height: 16vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box.white {
    background: #747d81;
}
.box.black {
    background: #27292a;
}
.boxe.black {
    background: #27292a;
}

.boxe.white {
    background: #747d81;
}
.boxe.clicked {
    background: #008070;
}

.box.clicked {
    background: #008070;
}

.sign {
    position: absolute;
    width: 10vw;
    left: 70vw;
    top: 25vh;
    font-size: 7vh;
    text-align: center;
    padding: 10px 50px;
    white-space: nowrap ;
}


.st{
    text-align:center;
    border-color:#000000;
    background: transparent;
    font-family: "Times New Roman";
}

.yay{
    position:fixed;
    top:50vh;
    left:35vw;
    width:40vw;
    height:20vh;
    font-size:10vmin;
}

.may{
    position:fixed;
    top:50vh;
    left:80vw;
    width:15vw;
    height:20vh;
    font-size:6vmin;
}

.ray{
    position:fixed;
    top:50vh;
    left:5vw;
    width:25vw;
    height:20vh;
    font-size:6vmin;
}

.titl{
    position:fixed;
    top:10vh;
    left:30vw;
    width:40vw;
    font-size:12vmin;
}

.bo{
    position:fixed;
    width:25vmin;
    height:25vmin;
    left:10vmax;
    top:5vh;
}
.co{
    position:fixed;
    width:25vmin;
    height:25vmin;
    right:10vmax;
    top:5vh;
}

.txte{
    color:white
}
